<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- IotHub -->
  <setting name="IoTHubName" value="EpiFibHub" />
  <setting name="IoTHubConnectionString" value="HostName=EpiFibHub.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=n+53rf87AkMiG5bJX0PUW4MGjfR8MC78wAP5vHXk76s=" />
  <!-- Asa -->
  <setting name="AsaRefDataRulesBlobName" value="devicerules.json" />
  <!-- EventHub -->
  <setting name="EventHubConnectionString" value="Endpoint=sb://devicedatahub.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=arHvr0H/RthykcgqLaNzF96fbz4QgODUk/Tpf9xjlto=" />
  <setting name="MessageHubName" value="messagehub"/>
  <setting name="AlarmHubName" value="alarmhub"/>
  <!-- Blob and Table Storage -->
  <setting name="StorageAccountConnectionString" value="DefaultEndpointsProtocol=https;AccountName=epifibstorage;AccountKey=IemJEx/AknqVqvUYpPPklON2IKl4Tk+GBFz06uUJObcKnRiVvIA6EJjpuZDfevq7WuDipRnhgW6sakMj8b7+7w=="/>
  <!-- DocDB Storage -->
  <setting name="DocDbEndpointUrl" value="https://epifibstorage.documents.azure.com:443/" />
  <setting name="DocDbPrimaryAuthorizationKey" value="izcMkaHusqdoRu7iqQWyLn2IT4WkIXp9PeHYIPsDRIsszCXEoUBBTBTacOBQ23vhLST48UUX8431xsKAdaEAFw==" />
  <setting name="DocDbDefaultDatabaseId" value="EpiFibDefaultDb" />
  <setting name="DocDbDeviceCollectionName" value="DeviceManagementCollection" />
  <setting name="DocDbUserLocationDatabaseId" value="UserLocationDb" />
  <setting name="DocDbUserLocationCollectionName" value="UserLocationCollection" />
  <setting name="DocDbEmergencyInstanceCollectionName" value="EmergencyInstanceCollection" />
  <!-- Simulator -->
  <setting name="DeviceSimulatorTableName" value="SimulatorDeviceList" />
  <setting name="DeviceRulesStoreContainerName" value="devicerules" />
  <setting name="DeviceRulesTableName" value="DeviceRulesTable" />
  <setting name="ObjectTypePrefix" value="" />
  <!-- Actions -->
  <setting name="ActionMappingStoreBlobName" value="actionmaps.json" />
  <setting name="ActionMappingStoreContainerName" value="actionmaps" />
  <!-- Alarms -->
  <setting name="AlertsStoreContainerName" value="alarmhistory" />
  <setting name="DeviceAlertsDataPrefix" value="" />
  <!-- Telemetry -->
  <setting name="TelemetryStoreContainerName" value="telemetryhistory" />
  <setting name="TelemetryDataPrefix" value="devicetelemetry/" />
  <setting name="TelemetrySummaryPrefix" value="devicetelemetry-summary/" />
  <!-- Active Directory -->
  <setting name="AADTenant" value="" />
  <setting name="AADInstance" value="" />
  <setting name="AADClientId" value="" />
  <!-- Web Settings -->
  <setting name="CultureCookieName" value="_culture" />
  <!-- Push Notifications -->
  <setting name="p12PathToFile" value="~/Push/EpiFibDev.p12" />
  <setting name="p12Password" value="z\1)&amp;zhnRCxMoje\1enU[K_.7yFG17F" />
</configuration>